{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <h1 class ="text-center">About Us</h1>
    <p>Welcome to Hyper Wheelz the best place for all your electrical car deals in San Bernardino. Here you can shop your favorite brands
    at our low prices compared to other dealerships. Our team is on standby ready to help find your dream car and answer all your needs.
        So come on down and get yourself the future of transportation today.</p>

    <img src = "{% static 'home/images/dealer.jpg' %}" style ="width: 100%">

{% endblock %}