{% extends 'home/base.html' %}
{% load static %}
{% block content %}



   <div class = "carousel">
        <img src="{% static 'home/images/wheel1.png' %}" width ="100%" height="400px" alt="..." style = "background-attachment: fixed;
        background-position: center;background-size: cover">

        <div class = "container-fluid text-white text-center opacity-50"
             style = "background-color: black; width: 100%; position: absolute; bottom: 0;left: 0;right: 0"> {# The text overlay for the image itself along with the text underneath #}
            <h1 style = " font-style: italic;text-align: left" class ="display-1">Specs</h1>
        </div>
    </div>

  <div class="row ">
        <h1 class="display-2 "> {{ cars.name}}</h1>
  </div>



<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-8">
     <div class="container">
<div id="carouselExampleFade" class="carousel slide carousel-fade rounded-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ cars.image.url }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ cars.image1.url }}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{ cars.image2.url }}" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="{{ cars.image3.url }}" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item">
      <img src="{{ cars.image4.url }}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h2 class="card-title">Price:</h2>
        <p class="card-text">{{ cars.price }}</p>
          <h2 class="card-title">Make:</h2>
        <p class="card-text">{{ cars.make }}</p>
          <h2 class="card-title">Year:</h2>
        <p class="card-text">{{ cars.year }}</p>
          <h2 class="card-title">Model:</h2>
        <p class="card-text">{{ cars.model }}</p>
          <h2 class="card-title">Type:</h2>
        <p class="card-text">{{ cars.type }}</p>
          <h2 class="card-title">Color:</h2>
        <p class="card-text">{{ cars.color }}</p>
          <h2 class="card-title">Description:</h2>
        <p class="card-text">{{ cars.description }}</p>
          <a href="#" class="btn btn-primary">Add to Favorites</a>
        <p class="card-text"><small class="text-muted">Vehicle became available on {{ cars.date_added }}</small></p>
      </div>
    </div>
  </div>
</div>




{# end of column #}
{% endblock content %}
