{% load static %}

<footer style="background-color: rgb(0,0,0);padding-bottom: 3%;" id="footer">
    <h3 style="color: white; text-align: center; font-size: 36px;padding-top: 3%;padding-bottom: 3%">Come Visit Us!</h3>
<!---Left column of footer text-->
  <div style="text-align: left;float: left; font-size: 17px; color: white;padding-left:15%;padding-right: 5%">
        <p style="font-weight: bolder; text-decoration: underline">LOCATION:</p>
            <p>5500 University Pkwy, San Bernardino, CA 92407</p>
        <p style="font-weight: bolder; text-decoration: underline">Contact: </p>
            <p>(909) 479-5482</p>
        <p style="font-weight: bolder; text-decoration: underline">Hours: </p>
            <p>Monday - Friday: 9AM - 6PM</p>
            <p>Saturday - Sunday: 10AM - 4PM</p>
        <p style="font-weight: bolder; text-decoration: underline">EMAIL:</p>
            <p>sales@hyperwheelz.com</p>
    </div>
<!---Right column of footer containing google map-->
<iframe style="padding-left:10%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d886.9411089463574!2d-117.32377563919349!3d34.181247593664935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c3519b1645c8d7%3A0xfac142d2f0f47922!2sCalifornia%20State%20University%2C%20San%20Bernardino!5e0!3m2!1sen!2sus!4v1647213948106!5m2!1sen!2sus" width="500" height="350"></iframe>

 <!---Copyright tag-->
<p style="color: white; text-align: center; font-size: 18px;padding-top: 20px;">USA, Hyper Wheelz Dealership.- Copyright 2022©</p>
</footer>

