{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Meta description changes from page to page(used by search engines to describe content)
//<meta name="description" content="This is a description of the content on page (120 char)">-->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-grid.rtl.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.rtl.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-utilities.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-utilities.rtl.css' %}">



