<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRICEPTICON</title>


    <link rel= "stylesheet" href = "../../static/home/style.css">
</head>
<body>                  <!--t-->

    <div class= "container">
        <header>
            <!-- <img src="images/ZPaper-2.jpg" alt="Logo for Tricepticon"> -->
        </header>

            <a class="active" , href = "index.html">HOME</a>
            <a href="#">SHOP</a>
            <a href="#">NEW ITEMS</a>
            <a href="#">PROMO ITEMS</a>
            <a href="#">ABOUT US</a>
            <a href="#">CONTACT US</a>
        <label>
            <input type="text" placeholder="Search">
        </label>

        <main>
            <h1>Burn Out!</h1>
            <p>Top Quality parts Reinforced by the <a href="#">Devil</a> Himself.</p>
        </main>
</div>
            <div class ="card" style = " width: 18rem;">
                <img src= "../../static/home/images/tesla.jpg" width = 250 height = 250 alt="#"> <!-- change img src to {{ car.product_image }} was just testing images on card-->
                <h3>{{ car.name }}</h3>
                <p class = "price">{{ car.price }}</p>

                <a href ="../detail.html" class = "detail-button">View Detail</a>
    </div>
 <footer>
            <p>USA, TRICEPTICON Motorsports Co.- Copyright 2020©</p>
        </footer>
</body>
</html>