{% extends 'home/base.html' %}
{% load static %}
{% block content %}

    <img src="{% static 'home/images/tesla-home-background.jpg' %}" width ="100%" alt="...">



{% for car in new_cars %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ car.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ car.name }}</h5>
        <p class="card-text">Some quick text for the car.</p>
           <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ car.price }} $</li>
        <li class="list-group-item">{{ car.model }}</li>
        <li class="list-group-item">{{ car.make }}</li>
        </ul>
       <a href="#" class="card-link">See Details</a>
        <a href="#" class="card-link">Add to favorites</a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endfor %}

{% endblock content %}

