{% load static %}
<!DOCTYPE html>
<!--establish language used is english#-->
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <!--Browser title tag (50 char;tells what's on page)-->
        <title>HawtWheelz</title>

       <!-- Meta description changes from page to page(used by search engines to describe content)
//       <meta name="description" content="This is a description of the content on page (120 char)">-->
        <link rel="stylesheet" href={% static 'home/style.css'%}/>

    </head>

<body>                  <!--t-->

    <div class= "container" >
        <header>

            <img src={% static 'home/images/logo 1.4.svg'%} alt= "Logo"
                 style="width: 720px;height: 120px;">


        </header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">NEW ITEMS</a></li>
                <li><a href="#">PROMO ITEMS</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </nav>


        <main>

            <h1>Hawt Wheelz</h1>
            <p>The dealership with <a href="#">Hawt</a> Prices.</p>

            <!-- <a href="https://www.google.com" target="_blank">Enter Hell!</a>  targetblank, opens link newtab when link is clicked -->
            <a href="mailto:giovan.gonzales@aol.com?Subject=Inquiry">Email Us!</a>
        </main>



        <footer>
            <h3>Come Visit Us!</h3>
            <p>USA, Hawt Wheelz Dealership.- Copyright 2022©</p>

        </footer>
    </div>

</body>
</html>