{% extends 'home/base.html'%}
{% load static %}

{% block content %}
    <style>
    .row1 {
    height: 100px;
    }

    </style>
    <div class="container-lg">
    <!--The first row will contain a search bar-->
    <div class="row row1 align-items-center" id="search-block">
     <div class="container-lg">
      <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
     </div>
    </div>
         <!--The second row will contain filter buttons-->
    <div class="=row justify-content-evenly" id="filter-buttons">
        <div class="col-4">
            color
        </div>
        <div class="col-4">
            make
        </div>
        <div class="col-4">
            price
        </div>

    </div>

     <!--Card group added-->
     </div>
     <br><br>
    <h3> Inventory </h3>
    <br>
       <div class="card-group">
        {% for car in inventory_cars %}
        {#  <div class="card" style="width: 18rem;"> #}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="{{ car.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
           <h5 class="card-title">{{ car.name }}</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ car.price }} $</li>
        <li class="list-group-item">{{ car.model }}</li>
        <li class="list-group-item">{{ car.make }}</li>
        </ul>
        <div class="card-body">
       <a href="{{ car.get_detail }}" class="card-link">See Details</a>
        <a href="#" class="card-link">Add to favorites</a>
         </div>
        </div>
         {% endfor  %}
       </div>
 <!--Card group ended-->

    </div>
{% endblock %}

