{% extends 'home/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <style>
    .row1 {
    height: 100px;
    }

    </style>
    <div class = "carousel">
        <img src="{% static 'home/images/wheel1.png' %}" width ="100%" height="400px" alt="..." style = "background-attachment: fixed;
        background-position: center;background-size: cover">

        <div class = "container-fluid text-white text-center opacity-50"
             style = "background-color: black; left: 0; bottom: 0;right: 0; position: absolute"> {# The text overlay for the image itself along with the text underneath #}
            <h3 style = " font-style: italic" class ="display-1">Inventory</h3>
        </div>
    </div>
    <div class="container-lg">
    <!--The first row will contain a search bar-->
        <div class="row row1 align-items-center" id="search-block">
            <form class="d-flex" method="get" action="{% url 'inventory' %}">
                {% csrf_token %}
                {% render_field car_filter.form.name class="form-control" placeholder="Search Inventory" %}
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
         <!--The second row will contain filter buttons-->
        <form method="get" action="{% url 'inventory' %}">
            {% csrf_token %}
        <div class="row justify-content-evenly" id="filter-buttons">
        <div class="col-2">
            {{ car_filter.form.color.label_tag }}
            {% render_field car_filter.form.color class="form-control" %}
        </div>
        <div class="col-2">
            {{ car_filter.form.make.label_tag }}
            {% render_field car_filter.form.make class="form-control" %}
        </div>
        <div class="col-2">
            {{ car_filter.form.price_gt.label_tag }}
            {% render_field car_filter.form.price_gt class="form-control" %}
        </div>
            <div class="col-2">
            {{ car_filter.form.price_lt.label_tag }}
            {% render_field car_filter.form.price_lt class="form-control" %}
        </div>
            <div class="col-2">
            {{ car_filter.form.type.label_tag }}
            {% render_field car_filter.form.type class="form-control" %}
        </div>
        <button type="submit" class="btn btn-outline-secondary col-sm-1">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
          </form>

     <!--Card group added-->
     </div>
     <br><br>

    <br>



     <div class="container">
<div class="row row-cols-1 row-cols-md-3 gy-3" style ="overflow-x: auto;">
  {% for car in car_list %}  {# start of for loop to read all data in the database to print cards #}
      <div class ="col">
  <div class="card h-100 border border-2 border-dark shadow" style = "background: rgb(204, 209, 209); padding: 0px; height: 100%">
        <a href ="{{ car.get_detail }}">
    <img class="card-img-top" src="{{ car.image.url }}" alt="..." style ="height: 14rem">
        </a>
      <h5 class="card-title">{{ car.name }}</h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background: rgb(204, 209, 209)">$ {{ car.price }} </li>
        <li class="list-group-item" style = "background: rgb(204, 209, 209)">{{ car.model }}</li>
        <li class="list-group-item" style ="background: rgb(204, 209, 209)">{{ car.make }}</li>
        </ul>
        <a href="{{ car.get_detail }}" class="card-link">See Details</a>
        <br>
        <a href="#" class="card-link">Add to favorites </a>
    </div>
  </div>
      </div>
{% endfor %} {# end of for loop #}
     </div>
    </div>













 <!--Card group ended-->

    </div>
{% endblock %}

