{% extends 'home/base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <style>
    .row1 {
    height: 100px;
    }

    </style>
    <div class="container-lg">
    <!--The first row will contain a search bar-->
    <div class="row row1 align-items-center" id="search-block">
     <div class="container-lg">
      <form class="d-flex" method="get">
            {{ filter.form.name.label_tag }}
            {% render_field filter.form.name class="form-control" %}
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
     </div>
    </div>
         <!--The second row will contain filter buttons-->
    <form method="get" action="{% url 'inventory' %}">
        <div class="row justify-content-evenly" id="filter-buttons">
        <div class="col-2">
            {{ car_filter.form.color.label_tag }}
            {% render_field car_filter.form.color class="form-control" %}
        </div>
        <div class="col-2">
            {{ car_filter.form.make.label_tag }}
            {% render_field car_filter.form.make class="form-control" %}
        </div>
        <div class="col-2">
            {{ car_filter.form.price_gt.label_tag }}
            {% render_field car_filter.form.price_gt class="form-control" %}
        </div>
            <div class="col-2">
            {{ car_filter.form.price_lt.label_tag }}
            {% render_field car_filter.form.price_lt class="form-control" %}
        </div>
        <button type="submit" class="btn btn-outline-success col-sm-2">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
          </form>



    </div>

{% endblock %}

