{% load static %}
{% include 'home/head.html'%}
<div class = "fluid-container">
        <header>
            <img src="{% static 'home/images/HyperWheelsLogo.svg'%}" alt="logo" style="width: 705px;height: 105px;">
        </header>
</div>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<!--small logo on navbar-->
    <a class="navbar-brand" href="#">
        <img src="{% static 'home/images/logo1.6.svg'%}" alt="logo" style="width: 50px;height: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}" style="padding-right: 60px" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'inventory' %}" style="padding-right: 60px">Inventory</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 60px">
            Categories
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Cars</a></li>
              <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Compact</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">SUVs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}" style="padding-right: 60px">About</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
