{% load static %}
<header>

            <img src={% static 'home/images/logo 1.4.svg'%} alt="logo" style="width: 720px;height: 120px;">


        </header>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">NEW ITEMS</a></li>
                <li><a href="#">PROMO ITEMS</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </nav>