{% load static %}
{% include 'home/head.html'%}
<div class = "fluid-container text-center">
        <header style="background: white">
            <img src="{% static 'home/images/HyperWheelsLogo.svg'%}" alt="logo" style="width: 705px;height: 105px;">
        </header>
</div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
    <!--small logo on navbar-->
        <a class="navbar-brand p-1" href="#">
            <img src="{% static 'home/images/logo1.6.svg'%}"
                 class="d-inline-block align-top"
                 alt="logo" style="width: 50px;height: 50px">
        </a>

         <div class="justify-content-md-end">
             <button class="navbar-toggler " type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
             <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">Sign In</button>
         </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0 nav-fill w-100">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inventory' %}">Inventory</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Cars</a></li>
                  <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Compact</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">SUVs</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
          </ul>
        </div>
{% comment %}
        <form class="d-flex">
            <div >
                <label><input id ="my-input" type="text" class="form-control me-2 active"></label>
                <div class="float-end">
                    <button type="submit" class="btn btn-outline-secondary  align-content-sm-center active">Search</button>
                </div>
            </div>
        </form>
{% endcomment %}
      </div>
    </nav>


{#--Login Modal--#}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

          <div class="container">
              <div class="row">
                  <h5 class="modal-title" id="exampleModalLabel">Please Login to Continue</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
          </div>
      </div>
      <div class="modal-body">
        <div class=" row">
           <div class = "row justify-content-center">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
           </div>
            <div class ="row-cols-1">
               <button type="button" class="btn btn-primary">Login   </button>
            </div>
              <div class = "row-cols-1">
               <button type="button" href="{% url 'register' %}" class="btn btn-primary">Register</button>
            </div>

        </div>





      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<script src="https://apis.google.com/js/platform.js" async defer></script>
